{% extends 'frontend/base.html'%}
{% block title %}Register{% endblock %}
{% block content %}
        <!-- ACCOUNT -->
        <section class="section-account parallax bg-11">
            <div class="awe-overlay"></div>
            <div class="container">
                <div class="login-register">
                    <div class="text text-center">
                        <h2>REGISTER FORM</h2>
                        <form style="margin-bottom: 20px;" method="post" action="/add-user" class="account_form">
                            <div class="field-form">
                                <input type="text" class="field-text" placeholder="Full Name" name="name" required>
                            </div>
                            <div class="field-form">
                                <input type="email" class="field-text" placeholder="Email Address" name="email" required>
                            </div>
                            <div class="field-form">
                                <input type="password" class="field-text" placeholder="Password" name="pass" required>
                                <span class="view-pass"><i class="lotus-icon-view"></i></span>
                            </div>
                            <div class="field-form">
                                <input type="tel" class="field-text" placeholder="Phone Number" name="phone" required>
                            </div>
                            <div class="field-form field-submit">
                                <button type="submit" class="awe-btn awe-btn-13">REGISTER</button>
                            </div>
                            <span class="account-desc"><a href="/login">Already have an account?</a></span>
                        </form>

                        <a href="/"><button class="awe-btn awe-btn-default"><i class="fa fa-reply-all" aria-hidden="true"></i> Back to Home</button></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END / ACCOUNT -->

{% endblock %}